:root {
 --red: #ff5757;
 --yellow: #ffb01f;
 --greenTeal: #00bd91;
 --cobaltBlue: #1125d4;

 --redMOD: #ff57576b;
 --yellowMOD: #ffb01f6b;
 --greenTealMOD: #00bd916b;
 --cobaltBlueMOD: #1125d46b;

 --lightBlue: #7857ff; /* BACKGROUND */
 --darkBlue: #2e2be9; /* BACKGROUND */

 --violet: #4e21ca; /* CIRCLE */
 --persianBlue: #2421ca00; /* CIRCLE */

 --white: #ffffff;
 --lightGrey: #ebf1ff;
 --lavender: #c8c7ff;
 --darkGrey: #303b5a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightGrey);
}

.container {
    background-color: var(--white);
    margin: auto;
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: fit-content;
}

.left {
    background-color: var(--darkBlue);
    width: 200px;
    padding: 18px;
    border-radius: 15px;
    height: 300px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    height: 300px;
    width: 250px;
}

.result {
    color: var(--darkGrey);
}

.reaction {
    color: var(--red);
    background-color: var(--redMOD);
    padding: 3px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

.memory {
    color: var(--yellow);
    background-color: var(--yellowMOD);
    padding: 3px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

.verbal {
    color: var(--greenTeal);
    background-color: var(--greenTealMOD);
    padding: 3px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

.visual {
    color: var(--cobaltBlue);
    background-color: var(--cobaltBlueMOD);
    padding: 3px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}